
.color{
    background-image: linear-gradient(to right,#FF9C35 0%,#FF8319 100%);
   border-radius: 2px;
    
}
.buy-btn{
    background-image: linear-gradient(to bottom,black 0%,black 100%);
    padding: 5px 16px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.image img{
    padding-left: 80px;
    height: 300px;
}


.contain{
    margin-top: 50px;
}

.orange-bg{
    background-color: orange;
    width: 85%;
    height: 50%;
    border-radius: 8px;
}

.size{
    padding-left: 25px;
}
.l-side{
    float: left;
    display: inline;
}
.contain2{
    margin-top: 100px;
}

.card-footer{
    border: none;
    text-align: center;
}
.card-body{
    text-align: center;
}

.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}

.cat h3{
    text-align: center;
    margin-top: 200px;
    text-decoration: underline;
    text-decoration-color: orange;
}

.cat1{
    box-shadow: 5px 5px 10px lightgray;
    padding: 45px;
    border-radius: 10px;
}
.side-left{
    padding-left: 80px;
}



